node_modules
ts-build
yarn-error.log
build
.DS_Store
addresses.mainnet.yaml
addresses.baklava.yaml
yarn.lock
docker/mainnet/full-node-data/celo
docker/mainnet/full-node-data/keystore
docker/baklava/full-node-data/baklava

